//Variables 
$color-primario: #ffffff;
$color-secundario: #f4f4f4;
$color-1: #fe0000;
$color-2: #f6f600;
$color-3: #0505dd;
$color-texto: #000000; 
$color-texto-hover: #a9a9a9;
$color-menu-hover: #dcdcdc;


header {
	width: 100%;
	height: 13.4em;
	background-color: $color-secundario;
    position: sticky;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 1500px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5) ;
   

    }

    .nav__contenedor {
        height: 10.05em;
    }
    
    .nav__contenedor-logo {
        position: relative;
        text-align: center;

        img {
            height: 11em;
            width: auto;
        }
   
    }  
    
    #btn-menu {
        display: none;
    }
    
    header label {
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-right: 1px solid black;

    }
    
    ul, ol {
        list-style: none;
    }
    .nav__ul li a {
        color: $color-texto;
        font-family: 'Bebas Neue', sans-serif ;
        font-size: 1.5em;
        text-decoration: none;
        padding: 0.5em 0.7em;
        display: inline-block;
 
    }
    
    .nav__ul  {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .nav__ul li a:hover {
        color: $color-texto-hover;
    }
    
    
    .nav__li--active {
        border-top: 1px solid $color-texto;
        border-bottom: 1px solid $color-texto;
    }
    .nav__li--active:hover {
        border-bottom: 1px solid $color-texto-hover ;
        border-top: 1px solid $color-texto-hover ;
    }
    

main {
	background-color: $color-primario;
	width: 100%;
	height: 140%;
    

}

.slider {
    width: 100%;
    margin: 0;
    padding: 0%;
    overflow: hidden;

    ul {
        display: flex;
        padding: 0;
        width: 300%;
        animation: cambio 16.5s infinite alternate linear;
        animation-timing-function: ease-in;
    }
    
    li {
        width: 100%;
        list-style: none;

        img{
            object-fit: cover;
        }
    }

    @keyframes cambio {
        0% {margin-left: 0;}
        30% {margin-left: 0;}

        33% {margin-left: -100%;}
        60% {margin-left: -100%;}

        63% {margin-left: -200%;}
        100% {margin-left: -200%;}
    }
    
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
        .flex-item-1, .flex-item-2, .flex-item-3 {
        height: auto;
        width: auto;
        text-align: center;
        margin: 10px;
        padding: 10px;
        }
    
      .flex-item-1{
        background-color: $color-1;
        }
        .flex-item-2{
        background-color: $color-2;
        }
        .flex-item-3{
        background-color: $color-3;
        }
        .flex-item img {
            object-fit: cover;
        }
}

footer {
    background-color: $color-secundario;
        width: 100%;
        height: 15em;
        font-family: 'Bebas Nue', sans-serif; 

        a {
            color: $color-texto;
            text-decoration: none;
        }
        
        .grupo-1 {
            height: 13.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            img {
                height: 25px;
                line-height: 3em ;
            }

            h2 {
                font-size: 1.8em;
                font-weight: 1000px;
                text-transform: capitalize;
                line-height: 3em;
            }
        
        }
        .grupo-2 {
            height: 2em;
            background-color: $color-primario;
            text-align: center;
            padding-top: 5px;

            small {
                font-size: 14px;
                word-spacing: 2px;
                text-transform: capitalize;
            }
        
        }
    } 

  .conocenos-main {
    height: auto;
    background-color: $color-primario;
    font-family: 'Bebas Neue', sans-serif ;
    font-weight: 100px;

    h1 {
        text-align: center;
        font-size: 2.5em;
    }
    .flex-item-4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 20px;
        font-size: 30px;
        background-color: $color-3;
        border: 5px solid $color-1;
        padding-top: 85px;
        padding-left: 25px;
        padding-bottom: 85px;
        padding-right: 25px;

        .texto-conocenos {
            color: $color-primario;
            height: 220px;
            text-align: center;
        }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
  }   

        }
    .flex-item-5 {
        height: auto;
        width: auto;
        text-align: center;
        margin: 40px;
        padding: 15px;
        background-color: $color-1;
        border: 5px solid $color-3;
        color: $color-primario;
        font-size: 25px;
        }
    .flex-item-6 {
        height: auto;
        width: auto;
        text-align: center;
        margin: 40px;
        padding: 15px;
        background-color: $color-1;
        border: 5px solid $color-3;
        color: $color-primario;
        font-size: 25px;
        }
}

.encontranos-main {
    height: 1000px;
    background-color: $color-primario;
    font-family: 'Bebas Neue', sans-serif ;

    h1 {
        font-size: 2.5em;
        text-align: center;
    }
    
    .contenedor_mapa {
        display: flex;
	    flex-direction: row;
	    justify-content: center;

    }

    .mapa {
        height: 600px;
        width: 600px;
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: $color-1;
    }
    .contenedor_texto {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .texto_mapa {
        font-size: 2.5em;
        margin-top: 20px;
        text-align: center;
        line-height: 60px;
    }

}

@media only screen and (max-width: 750px) {
    header {
        width: 100%;
        height: 3.5em;
        background-color: $color-secundario;
        z-index: 999px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5) ;
        font-family: 'Bebas Neue', sans-serif ;

        .nav__contenedor-logo {
            position: relative;
            text-align: center;

            img {
                height: 3.5em;
                width: auto;
            }
        }

        .menu {
            #btn-menu {
                display: block;
                position: absolute;
                margin-top: 0;
            }
        }
        
        header label {
            display: none;
            width: 30px;
            height: 30px;
            padding: 10px;
            border-right: 1px solid black;
    
        }
        .nav__contenedor-ul {
            position: absolute;
            display: flex;
            background-color: $color-secundario;
            width: auto;
            height: auto;
            top: 3.5em;
            margin-left: -100%;
                ul {
                    flex-direction: column;
                }
                li {
                    border: 1px solid $color-texto;
            
                }
                li:hover {
                    cursor: pointer;
                    background-color: $color-menu-hover;
                }  
        }

            #btn-menu:checked ~.nav__contenedor-ul {
                margin: 0;
            }
            }
            .flex-container{
                display: inline-block;
            
                .flex-item-1 {
                    display: block;
                    
                    height: auto;
                    margin-top: 15px;
                    margin-right: 7.5px;
                    margin-bottom: 10px;
                    margin-left: 7.5px;
                }
                .flex-item-2 {
                    display: block;
                    
                    height: auto;
                    margin-top: 15px;
                    margin-right: 7.5px;
                    margin-bottom: 10px;
                    margin-left: 7.5px;
                }
                .flex-item-3 {
                    display: block;
                    
                    height: auto;
                    margin-top: 15px;
                    margin-right: 7.5px;
                    margin-bottom: 10px;
                    margin-left: 7.5px;
                }
            }
            .conocenos-main {
                height: auto;
            
                .flex-item-4{
                    display: block;
                    width: 360px;
                    height: auto;
                    margin-top: 15px;
                    margin-right: auto;
                    margin-bottom: 10px;
                    margin-left: auto;
                    font-size: 25px;
            
                    .texto-conocenos {
                        height: auto;
                        text-align: center;
                        
                    }
                }
                .flex-container {
                    display: block;
                    margin: 5px;
                }
            }
            
            .encontranos-main {
                height: auto;
                margin-bottom: 20px;
                .mapa {
                    height: auto;
                }
                .texto_mapa {
                    text-align: center;
                    font-size: 1.5em;
                    line-height: 50px;
                }
            
        }
       
    }



