header {
  width: 100%;
  height: 13.4em;
  background-color: #f4f4f4;
  position: sticky;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 1500px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
header .menu {
  text-align: left;
  position: absolute;
  top: 1em;
  left: 0.2em;
  display: none;
}
header .menu i {
  display: none;
  height: 3.5em;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border: 0;
}
header .nav__contenedor {
  height: 10.05em;
}
header .nav__contenedor-logo {
  position: relative;
  text-align: center;
}
header .nav__contenedor-logo img {
  height: 11em;
  width: auto;
}
header .nav__responsive-ul {
  display: none;
}
header ul, header ol {
  list-style: none;
}
header .nav__ul li a {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0.5em 0.7em;
  display: inline-block;
}
header .nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .nav__ul li a:hover {
  color: #a9a9a9;
}
header .nav__li--active {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}
header .nav__li--active:hover {
  border-bottom: 1px solid #a9a9a9;
  border-top: 1px solid #a9a9a9;
}

main {
  background-color: #ffffff;
  width: 100%;
  height: 140%;
}

.slider {
  width: 100%;
  margin: 0;
  padding: 0%;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 16.5s infinite alternate linear;
  animation-timing-function: ease-in;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider li img {
  object-fit: cover;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  33% {
    margin-left: -100%;
  }
  60% {
    margin-left: -100%;
  }
  63% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-container .flex-item-1, .flex-container .flex-item-2, .flex-container .flex-item-3 {
  height: 500px;
  width: 500px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
.flex-container .flex-item-1 {
  background-color: #fe0000;
}
.flex-container .flex-item-2 {
  background-color: #f6f600;
}
.flex-container .flex-item-3 {
  background-color: #0505dd;
}
.flex-container .flex-item img {
  object-fit: cover;
}

footer {
  background-color: #f4f4f4;
  width: 100%;
  height: 15em;
  font-family: "Bebas Nue", sans-serif;
}
footer a {
  color: #000000;
  text-decoration: none;
}
footer .grupo-1 {
  height: 13.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .grupo-1 h2 {
  font-size: 1.8em;
  font-weight: 1000px;
  text-transform: capitalize;
  line-height: 3em;
}
footer .grupo-2 {
  height: 2em;
  background-color: #ffffff;
  text-align: center;
  padding-top: 5px;
}
footer .grupo-2 small {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.conocenos-main {
  height: auto;
  background-color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100px;
}
.conocenos-main h1 {
  text-align: center;
  font-size: 2.5em;
}
.conocenos-main .flex-item-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  font-size: 30px;
  background-color: #0505dd;
  border: 5px solid #fe0000;
  padding-top: 85px;
  padding-left: 25px;
  padding-bottom: 85px;
  padding-right: 25px;
}
.conocenos-main .flex-item-4 .texto-conocenos {
  color: #ffffff;
  height: 220px;
  text-align: center;
}
.conocenos-main .flex-item-4 .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.conocenos-main .flex-item-5 {
  height: auto;
  width: auto;
  text-align: center;
  margin: 40px;
  padding: 15px;
  background-color: #fe0000;
  border: 5px solid #0505dd;
  color: #ffffff;
  font-size: 25px;
}
.conocenos-main .flex-item-6 {
  height: auto;
  width: auto;
  text-align: center;
  margin: 40px;
  padding: 15px;
  background-color: #fe0000;
  border: 5px solid #0505dd;
  color: #ffffff;
  font-size: 25px;
}

.encontranos-main {
  height: 1000px;
  background-color: #ffffff;
  font-family: "Bebas Neue", sans-serif;
}
.encontranos-main h1 {
  font-size: 2.5em;
  text-align: center;
}
.encontranos-main .contenedor_mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.encontranos-main .mapa {
  height: 600px;
  width: 600px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #fe0000;
}
.encontranos-main .contenedor_texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.encontranos-main .texto_mapa {
  font-size: 2.5em;
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
}

@media only screen and (max-width: 750px) {
  header {
    width: 100%;
    height: 3.5em;
    background-color: #f4f4f4;
    z-index: 999px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    font-family: "Bebas Neue", sans-serif;
  }
  header .nav__contenedor-logo {
    position: relative;
    text-align: center;
  }
  header .nav__contenedor-logo img {
    height: 3.5em;
    width: auto;
  }
  header .nav__contenedor-ul {
    position: absolute;
    display: flex;
    background-color: #f4f4f4;
    width: auto;
    height: auto;
    top: 3.5em;
    margin-left: 0;
  }
  header .nav__contenedor-ul ul {
    flex-direction: column;
  }
  header .nav__contenedor-ul li {
    border: 1px solid #000000;
  }
  header .nav__contenedor-ul li:hover {
    cursor: pointer;
    background-color: #dcdcdc;
  }
  header .menu {
    display: block;
    border-radius: 10px;
    outline: none;
  }
  header i {
    display: block;
    font-size: 1.2em;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 2px;
    border: 0;
  }
  header .menu:hover > .nav__contenedor-ul {
    position: absolute;
    margin-left: auto;
  }
  .flex-container {
    display: inline-block;
  }
  .flex-container .flex-item-1 {
    display: block;
    width: 360px;
    height: auto;
    margin-top: 15px;
    margin-right: 7.5px;
    margin-bottom: 10px;
    margin-left: 7.5px;
  }
  .flex-container .flex-item-2 {
    display: block;
    width: 360px;
    height: auto;
    margin-top: 7.5px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 7.5px;
  }
  .flex-container .flex-item-3 {
    display: block;
    width: 360px;
    height: auto;
    margin-top: 7.5px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 7.5px;
  }
  .conocenos-main {
    height: auto;
  }
  .conocenos-main .flex-item-4 {
    display: block;
    width: 360px;
    height: auto;
    margin-top: 15px;
    margin-right: 7.5px;
    margin-bottom: 10px;
    margin-left: 7.5px;
    font-size: 25px;
  }
  .conocenos-main .flex-item-4 .texto-conocenos {
    height: auto;
    text-align: center;
  }
  .conocenos-main .flex-container {
    display: block;
    margin: 5px;
  }
  .encontranos-main {
    height: auto;
    margin-bottom: 20px;
  }
  .encontranos-main .mapa {
    height: auto;
  }
  .encontranos-main .texto_mapa {
    text-align: center;
    font-size: 1.5em;
    line-height: 50px;
  }
}

/*# sourceMappingURL=estilo.css.map */
